.card{
    margin: 6px 10px 0px 10px;
    
}

.row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.online{
    color: lightgreen;
    font-weight: bold;
}

p{
    display: inline;
    margin-right: 5px;
}

button{
    margin-top: 20px;
}

.btn.btn-primary.off{
    background-color: red;
    margin-left: 1rem;
}